* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark-blue: #1F2937;
    --light-blue: #3882F6;
    --off-white: #F9FAF8;
    --gray: #E5E7EB;
    --font-primary: 'Figtree', sans-serif;
    --fw-light: 300;
    --fw-regular: 400;
    --fw-black: 900;
    --fs-hero-main: 48px;
    --fs-hero-secondary: 18px;
    --fs-logo: 24px;
    --fs-info-header: 36px;
    --fs-quote: 36px;
}

body {
    font-family: var(--font-primary);
    background-color: var(--off-white);
}

.header, .hero, .footer {
    background-color: var(--dark-blue);
}

.quote {
    background-color: var(--gray);
}

.container-header {
    padding: 0 10vw;
    height: 100px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header nav a {
    color: var(--gray);
    text-decoration: none;
    font-size: var(--hero-secondary);
    font-weight: var(--fw-light);
}

.header nav a:hover {
    color: var(--light-blue);
    transition: all ease-out 0.2s;
}

.header nav {
    display: flex;
    gap: 4em;
}

.header h3 {
    color: var(--off-white);
    font-size: var(--fs-logo);
    font-weight: var(--fw-black);
}

.container-hero {
    padding: 100px 10vw;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.hero-text {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.hero-text h1 {
    color: var(--off-white);
    font-size: var(--fs-hero-main);
    font-weight: var(--fw-black);
    width: 60%;
    line-height: 1;
}

.hero-text p {
    color: var(--gray);
    font-size: var(--fs-hero-secondary);
    font-weight: var(--fw-light);
    width: 75%;
}

.btn-hero {
    padding: 0.75em 3em;
    text-decoration: none;
    background-color: var(--light-blue);
    color: var(--off-white);
    font-size: var(--fs-hero-secondary);
    font-weight: var(--fw-black);
    border-radius: .5em;
    width: fit-content;
}

.btn-hero:hover {
    background-color: var(--off-white);
    color: var(--light-blue);
    transition: all ease-in-out 0.3s;
}

.hero-image {
    width: 70%;
    height: 400px;
    background-color: var(--light-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--off-white);
    border-radius: 16px;
}

.info {
    padding: 75px 10vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 4em;
}

.info h2 {
    color: var(--dark-blue);
    font-size: var(--fs-info-header);
    font-weight: var(--fw-black);
}

.info-boxes {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.info-small {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.info-small p {
    color: var(--dark-blue);
    font-size: var(--fs-hero-secondary);
    font-weight: var(--fw-light);
    text-align: center;
    width: 50%;
}

.blue-square {
    width: 200px;
    height: 200px;
    border: 2px solid var(--light-blue);
    border-radius: 16px;
}

.container-testimonial {
    padding: 200px 10vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 2em;
}

.container-testimonial blockquote {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    gap: .5em;
    font-size: var(--fs-quote);
    font-weight: var(--fw-light);
    width: 75%;
}

.container-testimonial blockquote p:nth-last-child(1) {
    color: var(--dark-blue);
    font-weight: var(--fw-black);
    font-size: var(--fs-logo);
    text-align: right;
}

.contact {
    padding: 75px 10vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cta {
    background-color: var(--light-blue);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 6em;
    padding: 4em 8em;
    border-radius: 16px;
    color: var(--off-white);
}

.cta p {
    font-size: var(--fs-hero-secondary);
    font-weight: var(--fw-light);
    color: var(--gray);
}

.btn-cta {
    padding: 0.75em 3em;
    text-decoration: none;
    background-color: none;
    color: var(--off-white);
    font-size: var(--fs-hero-secondary);
    font-weight: var(--fw-black);
    border: 2px solid var(--off-white);
    border-radius: .5em;
    width: fit-content;
}

.btn-cta:hover {
    background-color: var(--off-white);
    color: var(--light-blue);
    transition: all ease-in-out 0.3s;
}

.footer {
    padding: 2em 10vw;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.footer p {
    color: var(--gray);
    font-size: var(--fs-hero-secondary);
    font-weight: var(--fw-light);
}